* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    color: #878787;
}

h1, h2, h3, h4, h5 {
    color: white;
}

ul {
    list-style-type: none;
  }

/*  HEADER  */

.player-wrapper__master {   /* CONTENITORE SINISTRA  */
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    flex-direction: row;

}

.player-wrapper__master .player-wrapper__left, 
.player-wrapper__master .player-wrapper__right {
    display: flex;
    justify-content: space-between;
    flex-basis: 230px;
}

.player-wrapper__master .player-wrapper__left , 
.player-wrapper__master .player-wrapper__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.player-wrapper__master .player-wrapper__left, 
.player-wrapper__master .player-wrapper__right {

} 

.player-wrapper__master .player-wrapper__left .song__img {
    flex-basis: 43px;
    padding-left: 10px;
}


.player-wrapper__master .player-wrapper__left .song-name {
    flex-grow: 1;
    display: block;
    font-size: 10px;
}

.player-wrapper__master .player-wrapper__left .song-name h4 {
    font-size: 12px;
}

.player-wrapper__master .player-wrapper__left .song-action ul {
    display: inline-flex;
    list-style: none;
    gap: 13px;
    padding-right: 10px;
}

.player-wrapper__master .player-wrapper__central {  /* CONTENITORE CENTRO */
    display: flex;
    flex-direction: row;
}

.player-wrapper__master .player-wrapper__central .player-buttons {  /* CONTENITORE CENTRO */
    display: flex;
    flex-basis: 200px; /*  PERCHè NON VA???  */
    width: 200px;
    justify-content: space-between;

}

.player-wrapper__master .player-wrapper__central .player-bar__master {
    display: flex;
}

.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live{
        position: relative;
        width: 210px;
        height: 5px;
        background: #cacaca;
        border-radius: 5px;
        
}

.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live .bar__light-grey {
        position: absolute;
        width: 50%;
        height: 100%;
        background: #505050;
        z-index: 1;
      }

/*  MAIN  */

main{
    display: flex;
    flex-grow: 1;
  }

/* SIDE-BAR  */

.side-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px; 
}

.side-bar .logo {   /* LOGO  */
    height: 84px;
    padding-top: 15px;
}

.side-bar .logo img {
    width: 135px;
}

.side-bar .widget {
    display: flex;
    flex-direction: column;
}

.side-bar .widget .widget__menu .menu-item { /*MENU  */
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;  
    height: 34px;
}

.side-bar .widget .widget__menu .menu-item .icon {
    width: 23px;
    margin-right: 10px;
    font-size: 22px;
    vertical-align: middle;
}

.menu-item:hover, .menu-item.active{
    color: #e5e5e5;
  }

.side-bar .widget .widget__title {  /*  MENU PLAYLIST  */
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0;
}


.side-bar .widget .playlist-creator {
    vertical-align: middle;
    margin-bottom: 10px;
}

.side-bar .widget .widget__menu .menu-item .icon.new__playlist {
    font-size: 38px;
    margin-right: 18px;
}

.side-bar .widget .widget__menu .user-menu {  /*  USER MENU  */
    border-bottom: 1px solid #878787; 
}

.side-bar .widget .widget__menu .user-menu h3 {
    display: inline-block;
}




/*  MAIN CONTENT  */

.main-container {
    flex-grow: 1;
    background-color: #141922;
}







/*  DEBUG  */

* .debug {
    color: rgb(235, 20, 163);
}

.debug .player-wrapper__master .player-wrapper__left, 
.debug .player-wrapper__master .player-wrapper__right {
    border: 2px solid yellow;
}


.debug .side-bar .widget .logo {
    border: 2px solid yellow;
}

.debug .side-bar .widget .home-wrapper {
    border: 2px solid rgb(238, 13, 13);
}

.debug .side-bar .widget .playlist-wrapper__master {
    border: 2px solid rgb(8, 235, 46);
}


