* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    color: #878787;
}

h1, h2, h3, h4, h5 {
    color: white;
}

ul {
    list-style-type: none;
  }

/*  HOVER - ACTIVE  */

.menu-item:hover, 
.menu-item.active, 
.player-wrapper__master .player-wrapper__left .song-name:hover,
.player-wrapper__master .player-wrapper__left .song-action ul li:hover,
.player-wrapper__master .player-wrapper__right .tasti ul li:hover, 
.main-container .row-master .row-categories ul li:hover {
    color: white;
}

.side-bar .widget .widget__menu .menu-item.active::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #ADFF2E;
    height: 100%;
    width: 2px;
    left: -14px;
}

.player-wrapper__master .player-wrapper__central .player-buttons .bigger:hover {
    transform: scale(1.1);
}

.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live .bar__light-grey:hover,
.player-wrapper__master .player-wrapper__right .tasti .player-bar__volume .bar__grey .bar__light-grey:hover {
    background-color: yellowgreen;
}


.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live .bar__light-grey:hover::after {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #cfcdcd;
    display: inline-block;
    position: absolute;
    left: 97%;
    top: -4px;
  }

.player-wrapper__master .player-wrapper__right .tasti .player-bar__volume .bar__grey .bar__light-grey:hover::after {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
     background: #cfcdcd;
    display: inline-block;
    position: absolute;
    left: 90%;
    top: -3px;
}

.upgrade-banner .upgrade-button:hover {
    transform: scale(1.05);
}

.main-container .row-master .row-categories ul li.active::after {
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    background-color: #ADFF2E;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


/*  HEADER  */

header {
    z-index: 99;
}

.player-wrapper__master {   
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    flex-direction: row;

}

.player-wrapper__master .player-wrapper__left,  /* COMMON - CONTENITORE SINISTRA E DESTRA */
.player-wrapper__master .player-wrapper__right {
    display: flex;
    justify-content: space-between;
    flex-basis: 230px;
}

.player-wrapper__master .player-wrapper__left , 
.player-wrapper__master .player-wrapper__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.player-wrapper__master .player-wrapper__left .song-action ul,
.player-wrapper__master .player-wrapper__right .tasti ul {
    display: inline-flex;
    list-style: none;
    gap: 13px;
    padding-right: 10px;
}

.player-wrapper__master .player-wrapper__left .song__img {  /* CONTENITORE SINISTRA  */
    flex-basis: 43px;
    padding-left: 10px;
}


.player-wrapper__master .player-wrapper__left .song-name {
    flex-grow: 1;
    display: block;
    font-size: 10px;
}

.player-wrapper__master .player-wrapper__left .song-name h4 {
    font-size: 12px;
}



.player-wrapper__master .player-wrapper__right .tasti { /* CONTENITORE DESTRA  */
    display: flex;
    align-items: center;
}

.player-wrapper__master .player-wrapper__right .tasti .player-bar__volume{
   display: flex;
   flex-grow: 1;
}

.player-wrapper__master .player-wrapper__right .tasti .player-bar__volume .bar__grey {
    display: flex;
    position: relative;
    width: 120px;
    height: 3px;
    background: #505050;
    border-radius: 5px;    
}

.player-wrapper__master .player-wrapper__right .tasti .player-bar__volume .bar__grey .bar__light-grey {
    position: absolute;
    width: 20%;
    height: 100%;
    background: #cacaca;
    border-radius: 5px;
    z-index: 1;
  }



.player-wrapper__master .player-wrapper__central {  /* CONTENITORE CENTRO */
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: 15px;
    gap: 5px;
    
    
}

.player-wrapper__master .player-wrapper__central .player-buttons {  /* CONTENITORE CENTRO */
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.player-wrapper__master .player-wrapper__central .player-buttons .bigger {
    font-size: 30px;
}

.player-wrapper__master .player-wrapper__central .player-bar__master {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 80%;
}

.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live{
    position: relative;
    width: 80%;
    height: 3px;
    background: #505050;
    border-radius: 5px;
        
}

.player-wrapper__master .player-wrapper__central .player-bar__master .player-bar__live .bar__light-grey {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #cacaca;
    border-radius: 5px;
    z-index: 1;
}

.player-wrapper__master .player-wrapper__central .player-bar__master {
    font-size: 13px;
}



/*  MAIN  */

main{
    display: flex;
    flex-grow: 1;
  }

/* SIDE-BAR  */

.side-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px; 
    z-index: 50;
}

.side-bar .logo {   /* LOGO  */
    height: 84px;
    padding-top: 15px;
}

.side-bar .logo img {
    width: 135px;
}

.side-bar .widget {
    display: flex;
    flex-direction: column;
}

.side-bar .widget .widget__menu .menu-item { /*MENU  */
    display: flex;
    align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;  
    height: 34px;
}

.side-bar .widget .widget__menu .menu-item .icon {
    width: 23px;
    margin-right: 10px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 22px;
}


.side-bar .widget .widget__title {  /*  MENU PLAYLIST  */
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0;
}

.side-bar .playlist-menu {
    flex-grow: 1;
    overflow-y: auto;
    overflow: hidden;
}


.side-bar .widget .playlist-creator {
    vertical-align: middle;
    margin-bottom: 10px;
}

.side-bar .widget .widget__menu .menu-item .icon.new__playlist {
    font-size: 38px;
    margin-right: 18px;
}

.side-bar .widget .widget__menu .user-menu {  /*  USER MENU  */
    border-bottom: 1px solid #878787;
    margin-bottom: 20px; 
}

.side-bar .widget .widget__menu .menu-item .app-install {
    /* width: 20px;  */
    margin-right: 10px;
    font-size: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.side-bar .widget .widget__menu .menu-item.user__img {
    height: 50px;
}

.side-bar .widget .widget__menu .menu-item.user__img .icon img {
    background-color: #505050;
    border-radius: 50%;
    overflow: hidden;
}




/*  MAIN CONTENT  */

main {
    height: calc(100vh - 87px);
}

.main-container {
    display: flex;
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
/*    position: relative;  */
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
}

.upgrade-banner {       /* UPGRADE BANNER  */
    min-height: 90px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.upgrade-banner .upgrade-button {
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    width: fit-content;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 24px;
    margin-left: calc(100% - 230px)
}

.main-container .row-master {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-container .row-master .row-categories {   /*  MAIN NAVBAR  */
    display: flex;
    padding: 12px 12px;
    font-size: 12px;
    font-weight: bold;
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
}

.main-container .row-master .row-categories ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-transform: uppercase;
}

.main-container .row-master .row-categories ul li {
    position: relative;
}

.main-container .row-master .row-categories ul li a {
    line-height: 30px;
    text-decoration: none;
    color: #878787;
}



.main-container .row-master .row-album {       /*  MAIN ROWS  */
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.main-container .row-master .row-album .title {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 12px 0;
    font-size: 22px;
}

.main-container .row-master .row-album p {
 /*   display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;  */
    padding: 6px 0;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 25px;
}

.main-container .row-master .row-album .card-wrapper {      /* MAIN CARDS  */
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    gap: 1%;
    flex-wrap: wrap;
}

.main-container .row-master .row-album .card-wrapper .card-container {
    display: flex;
    flex-direction: column;
    width: calc(95% / 6);

}

.main-container .row-master .row-album .card-wrapper .card-container .card-header {
    display: flex;
    position: relative;
}

.main-container .row-master .row-album .card-wrapper .card-container .card-header:hover::after {
    content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-size: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;    
}

.main-container .row-master .row-album .card-wrapper .card-container .card-header::before {
    content: '';
    background-color: black;
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    /*background-color: black;
    opacity: 0.4;*/
}

.main-container .row-master .row-album .card-wrapper .card-container:hover .card-header::before {
    opacity: 0.3;
}


/*.main-container .row-master .row-album .card-wrapper .card-container .card-header:hover::after {
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}*/

.main-container .row-master .row-album .card-wrapper .card-container .card-circle {
    border-radius: 50%;
    overflow: hidden;
}

.main-container .row-master .row-album .card-wrapper .card-container .card-header img {
    display: flex;
    width: 100%;

}

.main-container .row-master .row-album .card-wrapper .card-container h5 {
    padding: 15px 7px;
    font-size: 16px;
    text-align: center;
}

.main-container .row-master .row-album .card-wrapper .card-container p {
    font-size: 10px;
    font-weight: bold;
    text-align: center;

}


/*  MEDIA QUERY  */

@media screen and (max-width: 1400px) { 
    .main-container .row-master .row-album .card-wrapper {      /* MAIN CARDS  */
        gap: 1%;
}

.main-container .row-master .row-album .card-wrapper .card-container {
    width: calc(96% / 5);
}
}


@media screen and (max-width: 1200px ) {

    .main-container .row-master .row-album .card-wrapper {      /* MAIN CARDS  */
        gap: 2%;
}

.main-container .row-master .row-album .card-wrapper .card-container {
    width: calc(94% / 4);
}


    
}

@media screen and (max-width: 992px ) {


    .main-container .row-master .row-album .card-wrapper {      /* MAIN CARDS  */
        gap: 4%;
}

.main-container .row-master .row-album .card-wrapper .card-container {
    width: calc(92% / 3);
}

    
}

@media screen and (max-width: 768px ) {




    
}

@media screen and (max-width: 576px ) {




    
}







/*  DEBUG  */

* .debug {

}

.debug .player-wrapper__master .player-wrapper__left, 
.debug .player-wrapper__master .player-wrapper__right {
    border: 2px solid yellow;
}


.debug .side-bar .widget .logo {
    border: 2px solid yellow;
}

.debug .side-bar .widget .home-wrapper {
    border: 2px solid rgb(238, 13, 13);
}

.debug .side-bar .widget .playlist-wrapper__master {
    border: 2px solid rgb(8, 235, 46);
}

.debug .row-master {
    border: 2px dashed rgb(48, 6, 235);
}

.debug .row-master .row-categories {
    border: 2px dashed rgb(231, 247, 7);
}

.debug .row-master .row-categories ul {
    border: 2px dashed rgb(83, 5, 156);
}

.debug .row-master .row-categories ul li {
    border: 2px dashed rgb(20, 216, 69);
}

.debug .row-master .row-album {
    border: 2px solid rgb(216, 20, 20);
}

.debug .row-master .row-album .title {
    border: 2px solid rgb(4, 141, 61);
}

.debug .row-master .row-album .card-wrapper .card-container {
    border: 2px solid rgb(0, 225, 255);
}

.debug .row-master .row-album .card-wrapper .card-container .card-header {
    border: 2px solid rgb(255, 0, 170);
}

.debug .row-master .row-album .card-wrapper .card-container h3 {
    border: 2px solid rgb(217, 255, 0);
}

.debug .row-master .row-album .card-wrapper .card-container p {
    border: 2px solid rgb(255, 115, 0);
}


